<div class="custom-share-container">
  <img src="https://cdn.shopify.com/s/files/1/0754/1148/9081/files/Share_Button.png?v=1745322463" alt="Share" class="share-toggle-icon" />
  <div class="share-options">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0330/1333/files/Support.png?v=1747035528" alt="Facebook" />
    </a>
    <a href="https://api.whatsapp.com/send?text={{ shop.url }}{{ product.url }}" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0754/1148/9081/files/WhatsApp_Icon_8f61935b-cb80-4c03-b839-9c4da944c088.png?v=1745238548" alt="WhatsApp" />
    </a>
    <a href="https://www.instagram.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0754/1148/9081/files/Instagram_-_1.png?v=1745322918" alt="Email" />
    </a>
        <a href="https://www.pinterest.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/0330/1333/files/Pinterst_Icon_5b08e84b-6767-4dab-bc9e-a5d9fbdde601.png?v=1745394982" alt="Email" />
    </a>
  </div>
</div>