<div class="logo-marquee-container">
  <div class="container">
  {% if section.settings.title_above_icon != blank %}
    <div class="above_icon">
      {{ section.settings.title_above_icon | image_url: width: section.settings.title_above_icon.width | image_tag: loading: 'lazy', sizes: auto, widths: '300,400,500,600,800,1000,1200,1400,1600,1800', class: 'zoom-image group-hover:zoom' }}
    </div>
    {% style %}
      #shopify-section-{{ section.id }}.autoscroll_image .above_icon img {
        max-width: 45px;
        margin: 0 auto;
      }
      #shopify-section-{{ section.id }}.autoscroll_image .above_icon {
        margin-bottom: 1.5rem;
      }
    {% endstyle %}
  {% endif %}
  {% if section.settings.heading or section.settings.context != blank or section.settings.subheading != blank %}
    {%- render 'section-header', subheading: section.settings.subheading, heading: section.settings.heading, content: section.settings.context, text_alignment: 'center' -%}
  {% endif %}
  </div>

<div class="marquee-section">
  <div class="marquee-track">
    {% for block in section.blocks %}
      {% if block.settings.logo %}
        <div class="marquee-item">
          <a href="{{ block.settings.link }}" target="_blank">
            <img src="{{ block.settings.logo | image_url: width: 300 }}" alt="logo" loading="lazy" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
    {%- comment -%} Duplicate once for smooth scroll loop {%- endcomment -%}
    {% for block in section.blocks %}
      {% if block.settings.logo %}
        <div class="marquee-item">
          <a href="{{ block.settings.link }}" target="_blank">
            <img src="{{ block.settings.logo | image_url: width: 300 }}" alt="logo" loading="lazy" />
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% style %}
.marquee-section {
  overflow: hidden;
  width: 100%;
  background: #fff;
  padding: 20px 0;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: scroll-marquee 60s linear infinite;
}

.marquee-section:hover .marquee-track {
  animation-play-state: paused;
}

.marquee-item {
  flex: 0 0 auto;
  padding: 0;
}

.marquee-item img {
  max-height: fit-content;
  display: block;
  object-fit: contain;
  width: auto;
  height:auto;
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 699px) {
  .marquee-item {
    padding: 0 10px;
  }
}
{% endstyle %}


{% schema %}
  {
  "name": "Auto Scrolling Logos",
    "class": "autoscroll_image",
  "settings": [
    {
      "type": "header",
      "content": "t:global.section.header_category"
    },
    {
      "type": "image_picker",
      "id": "title_above_icon",
      "label": "Title Above Link"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    
    {
      "type": "textarea",
      "id": "context",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Upload Logo"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Logo Link"
        }
      ]
    }
  ],
  "max_blocks": 30,
  "presets": [
    {
      "name": "Auto Scrolling Logos"
    }
  ]
}
{% endschema %}